body {
	background-color: #ccc;
	width           : 500px;
}

.subHeader {
	font-size: 150%;
	word-break: break-all;
}

.author {
	position  : relative;
	left      : 15px;
	font-size : 120%;
	word-break: break-all;
}

div#content pre {
	color      : #47a;
	white-space: pre-line; 
}
